@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');
:root{
		--fonte01: verdana, geneva, tahoma, sans-sarif;
		--fonte02: 'Passion One', sans-serif;
		--fonte03: 'Sriracha', cursive;
}
*{
		margin: 0px;
		padding: 0px;
}
html, body{
		font-family: var(--fonte01);
		min-height: 100vh;
		background-color: darkgray;
}
header{
		background-color: black;
		color: white;
		text-align: center;
}
header > h1{
		font-family: var(--fonte02);
		padding-top:50px;
		font-variant: small-caps;
		font-size: 10vw;
}
header > p{
		padding-bottom: 50px;
}
a {
		color: white;
		text-decoration: none;
		font-weight: bolder;
}
a:hover{
		text-decoration: underline;
}
section.normal{
		background-color: white;
		color: black;
}
section{
		padding-top: 10vh;
		padding-bottom: 10vh;
		line-height: 2em;
		padding-left: 30px;
		font-family: var(--fonte03);
		font-size: 3.5vw;
}
section.imagem{
		background-color: rgb(51, 51,51);
		color:white;
		 box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.350);
		background-size: cover;
		background-attachment: fixed;
}
section.imagem > p{
		display: inline-block;
		padding: 5px;
		background-color: rgba(0, 0, 0, 0.337);
		text-shadow: 1px 1px 0px  black;
}
section > p{
		padding-bottom: 2em;
}
section#img01{
		background-image: url("imagens/background001.jpg");
		background-position: right center;
		
		
}
section#img02{
		background-image: url("imagens/background002.jpg");
		
}
footer{
		background-color: black;
		text-align: center;
		color: white;
		padding: 10px;
}