@charset"utf-8"
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')

*{
		margin: 0;
		padding: 0;
		font-family: 'Roboto Condesed', sans-serif;
}
body{
		background-image: url(imagem/cadastrolinda.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
}
.container{
		display: flex;
		justify-content: center;
		width: 100%;
		margin-top: 150px;
}
.card{
		background-color: #00ff0030;
		padding: 30px;
		border-radius: 4%;
		box-shadow: 3px 3px 1px 0px #00000050;
		width: 340px;
		
}
h1{
		text-align: center;
		margin-bottom: 30px;
}
.label-float input{
		width: 100%;
		padding: 5px 5px;
		display: inline-block;
		border: 0;
		border-bottom: 2px solid #000000;
		background-color: transparent;
		outline: none;
		min-width: 180px;
		font-size: 16px;
		transition: all .3s ease-out;
		border-radius: 0;
}
.label-float{
		position: relative;
		padding-top: 13px;
		margin-top: 5%;
}
.label-float input:focus{
		border-bottom: 2px solid #00ffa0;
}
.label-float label{
		pointer-events: none;
		position: absolute;
		top:0;
		left: 0;
		margin-top: 13px;
		transition: all .3s ease-out;
		
}
.label-float input:focus+label,
.label-float input:valid+label{
		font-size: 13px;
		margin-top: 0;
		color: #00ffa0;
}
button{
		background-color: transparent;
		border-color: #000000;
		color: black;
		padding: 7px;
		font-weight: bold;
		font-size: 12pt;
		margin-top: 30px;
		border-radius: 4px;
		cursor: pointer;
		outline: none;
		transition: all .3s ease-out;
}
button:hover{
		background-color: #00fff0;
		border-color: black;
}
.justify-center{
		display: flex;
		justify-content: center;
}
.fa-eye{
		position: absolute;
		top: 15px;
		right: 10px;
		cursor: pointer;
}